/* подключение шрифта */
/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Roboto:wght@400;700;900&display=swap");
/* обнуление */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

ul,
ol,
li {
	text-decoration: none;
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html {
	font-size: 16px;
}

body {
	line-height: 1;
	font-family: "Roboto";
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	background-color: #f5f5f5;
}

/* ------------------------ */

.pagenemo {
	max-width: 1020px;
	margin: 0 auto;
	background-color: #fff;
	padding: 100px 87px 466px 87px;
}
.pagenemowho {
	margin: 0px 0px 33px 0px;
}
.pagenemowhologo {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 0px 0px -5px;
}
.pagenemowhotitle {
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #4b4b4b;
}
.pagenemobody {
}
.pagenemotitle {
	max-width: 583px;
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #02133c;
	margin: 0px 0px 36px 0px;
}
.pagenemotext {
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}

/* ------------------ */

.pageimage {
	text-align: center;
	margin: -300px 0px 0px 0px;
}

/* ------------------- */
.pageservices {
	max-width: 1020px;
	margin: 0 auto;
	padding: 50px 0px 50px 0px;
}

.pageservicesbody {
	max-width: 324px;
	padding: 50px 44px 50px 43px;
	background-color: #fff;
	text-align: center;
	margin: 0px 0px 24px 0px;
}
.pageservicesicon {
	margin: 0px 0px 33px 0px;
}
.pageservicestitle {
	font-weight: 900;
	font-size: 19px;
	line-height: 137%;
	color: #02133c;
	margin: 0px 0px 20px 0px;
}
.pageservicestext {
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}

/* ----------------------- */

.pageshop {
	max-width: 1020px;
	margin: 0 auto;
	background-color: #fff;
	padding: 100px 87px 75px 87px;
	font-family: "Poppins";
	color: #000;
}
.pageshoptitle {
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	margin: 0px 0px 26px 0px;
}
.pageshopsubtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	margin: 0px 0px 81px 0px;
}
.pageshopbody p {
	margin: 0px 0px 42px 0px;
}
.pageshopbodytitle {
	font-weight: 600;
	line-height: 26px;
	margin: 0px 0px 42px 0px;
}
.pageshopbodytext {
	font-weight: 300;
	line-height: 26px;
}
/* ------------------------- */

.pagehighest {
	max-width: 1020px;
	margin: 0 auto;
	background-color: #fff;
	padding: 100px 87px 75px 87px;
	color: #000000;
	font-family: "Poppins";
}
.pagehighestbody {
}
.pagehighestimg {
	margin: 0px 0px 9px 0px;
}
.pagehighesttitle {
	max-width: 465px;
	font-weight: 500;
	font-size: 44px;
	line-height: 58px;
	margin: 0px 0px 25px 0px;
}
.pagehighesttext {
	font-weight: 300;
	font-size: 18px;
	line-height: 26px;
}
